/*
 * Base CSS Styling starts here
 */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  /* @TODO base font style */
  margin: 0;
}

/*
 * Utilities
 */

/*
 * Layout
 */


/*
 * Components
 */

.btn {
  cursor: pointer;
}

/*
 * Animations and state utilities
 */